<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>HelloServlet</display-name>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>com.web.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/HelloServlet</url-pattern>
  </servlet-mapping>
  <display-name>dynamicWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ParametersServlet</display-name>
    <servlet-name>ParametersServlet</servlet-name>
    <servlet-class>com.web.ParametersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParametersServlet</servlet-name>
    <url-pattern>/ParametersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>YasHesaplaServlet</display-name>
    <servlet-name>YasHesaplaServlet</servlet-name>
    <servlet-class>com.web.YasHesaplaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>YasHesaplaServlet</servlet-name>
    <url-pattern>/YasHesaplaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CalculateServlet</display-name>
    <servlet-name>CalculateServlet</servlet-name>
    <servlet-class>com.web.CalculateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalculateServlet</servlet-name>
    <url-pattern>/CalculateServlet</url-pattern>
  </servlet-mapping>
</web-app>